body {
	background: black;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 400px;
	margin: 1%;
}

.postcard-body {
	display: flex;
}
.body-left p {
	margin-top: 5px;
	font-size: small;
	font-family: italic;
}
.body-left,
.body-right {
	padding: 10px;
}
input {
	border: none;
	border-bottom: solid 1px rgb(160, 150, 150);
	font-size: medium;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: gray;
	padding: 3px;
}
